.TodoItem {
  border: solid 1px;
  border-color: var(--border-color);
  background-color: var(--bg-dark-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  box-shadow: var(--common-shadow);
  border-radius: 10px;
  transition: 0.25s ease-out;
  cursor: pointer;
  padding: 10px 0;
}

.TodoItem:hover {
  background-color: var(--bg-fg-hover-color);
  transition: 0.25s ease-in;
}

.TodoItem--complete {
  background-color: var(--bg-fg-color);
  opacity: 0.8;
}

.TodoItem-p {
  margin: 24px 24px 24px 48px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.TodoItem-p--complete {
  text-decoration: line-through;
  transition: all 0.25s;
}

.TodoItem-createDate {
  position: absolute;
  right: 1rem;
  color: var(--text-soft-color);
}