.Icon-container-loading {
  --half-container: calc(50% - 3px);
  --full-motion: calc(100% - 3px);
  --back-motion: calc(-1 * var(--full-motion));

  top: calc(50% - 24px);
  left: 12px;
  position: absolute;
  background-color: transparent;
}

.LoadingIcon-container {
  width: 55%;
  height: 55%;
  transform: rotate(45deg);
}

.LoadingIcon-rhombus {
  position: absolute;
  border: 1px solid;
  width: calc(50% - 2px);
  height: calc(50% - 2px);
}

#rh-1 {
  top: var(--half-container);
  animation: rh-one 8s infinite;
  transition: all 0.25s;
}
#rh-2 {
  top: 0;
  left: 0;
  animation: rh-two 8s infinite;
  transition: all 0.25s;
}
#rh-3 {
  left: var(--half-container);
  animation: rh-three 8s infinite;
  transition: all 0.25s;
}
@keyframes rh-one {
  18% {
    transform: translate(0, 0);
  }
  20% {
    transform: translateY(var(--back-motion));
  }
  44% {
    transform: translateY(var(--back-motion));
  }
  46% {
    transform: translate(var(--full-motion), var(--back-motion));
  }
  70% {
    transform: translate(var(--full-motion), var(--back-motion));
  }
  72% {
    transform: translateX(var(--full-motion));
  }
  96% {
    transform: translateX(var(--full-motion));
  }
  98% {
    transform: translate(0, 0);
  }
}

@keyframes rh-two {
  9% {
    transform: translate(0, 0);
  }
  11% {
    transform: translateX(var(--full-motion));
  }
  35% {
    transform: translateX(var(--full-motion));
  }
  37% {
    transform: translate(var(--full-motion), var(--full-motion));
  }
  61% {
    transform: translate(var(--full-motion), var(--full-motion));
  }
  63% {
    transform: translateY(var(--full-motion));
  }
  87% {
    transform: translateY(var(--full-motion));
  }
  89% {
    transform: translate(0, 0);
  }
}

@keyframes rh-three {
  0% {
    transform: translate(0, 0);
  }
  2% {
    transform: translateY(var(--full-motion));
  }
  26% {
    transform: translateY(var(--full-motion));
  }
  28% {
    transform: translate(var(--back-motion), var(--full-motion));
  }
  52% {
    transform: translate(var(--back-motion), var(--full-motion));
  }
  54% {
    transform: translateX(var(--back-motion));
  }
  78% {
    transform: translateX(var(--back-motion));
  }
  80% {
    transform: translate(0, 0);
  }
}
