.Icon-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: 700;
  background-color: var(--bg-color);
  border-radius: 10px;
  transition: all 0.25s ease-out;
}
.Icon-container-check {
  position: absolute;
  left: 12px;
}
.Icon-container-check--active {
  color: var(--highlight-color);
}
.Icon-container-delete {
  position: absolute;
  top: -24px;
  right: 12px;
}
.Icon-container-delete:hover {
  color: var(--warn-color);
}
.Icon-svg {
  width: 24px;
  height: 24px;
}
.Icon-container-check:hover .Icon-svg {
  fill: var(--highlight-color);
  transition: all 0.25s ease-in;
}
.Icon-container-delete:hover .Icon-svg {
  fill: var(--warn-color);
  transition: all 0.25s ease-in;
}

.Icon-container-search {
  position: absolute;
  left: 12px;
  top: calc(50% - 24px);
  background-color: transparent;
}
input:focus + .Icon-container-search > .Icon-svg,
input:focus + .Icon-container-loading .LoadingIcon-rhombus {
  fill: var(--highlight-color);
  border-color: var(--highlight-color);
  transition: all 0.25s ease-in;
}
