:root {
  --bg-color: #1e1e20;
  --bg-dark-color: #121213;
  --bg-fg-color: #252529;
  --bg-fg-hover-color: #313136;
  --border-color: rgba(255, 255, 255, 0.2);

  --common-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);

  --text-color: lightgray;
  --highlight-color: #646cff;
  --warn-color: red;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  width: 100vw;
  background-color: var(--bg-color);
  color: var(--text-color);
}
