.TodoSearch-input {
  width: clamp(200px, 40%, 800px);
  display: flex;
  margin: auto;
  margin-top: 30px;
  border: solid 1px var(--border-color);
  line-height: 24px;
  padding: 10px 24px;
  border-radius: 5px;
  font-size: 1.5rem;
  background-color: var(--bg-fg-color);
  color: var(--text-color);
  outline: none;

  transition: all 0.25s ease-out;
}

.TodoSearch-input:focus,
.TodoSearch-input:active,
.TodoSearch-input:focus-visible {
  border-color: var(--highlight-color);
  transition: all 0.25s ease-in;
}
