.TodoSearch-container {
  position: relative;
  margin: 2rem;
  margin-bottom: 0;
  display: flex;
}

.TodoSearch-input {
  width: 100%;
  display: flex;
  margin-bottom: 0;
  border: solid 1px var(--border-color);
  line-height: 24px;
  padding: 1rem 24px;
  padding-left: calc(24px + 48px);
  border-radius: 5px;
  font-size: 1.5rem;
  background-color: var(--bg-dark-color);
  color: var(--text-color);
  outline: none;

  cursor: text;

  transition: all 0.25s ease-out;
}

.TodoSearch-input:focus,
.TodoSearch-input:active,
.TodoSearch-input:focus-visible {
  border-color: var(--highlight-color);
  background-color: var(--bg-dark-color);
  transition: all 0.25s ease-in;
}
