@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.TodoLoading-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  box-shadow: var(--common-shadow);
  border-radius: 10px;
  padding: 10px 0;
}

.TodoLoading-text {
  margin: 24px 24px 24px 48px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: transparent;
}

.TodoLoading-completeIcon,
.TodoLoading-deleteIcon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 48px;
  width: 48px;
}
.TodoLoading-completeIcon {
  position: absolute;
  left: 12px;
}
.TodoLoading-deleteIcon {
  position: absolute;
  top: -24px;
  right: 12px;
}

.TodoLoading-container,
.TodoLoading-completeIcon,
.TodoLoading-deleteIcon {
  border: solid 1px var(--border-color);
  background: linear-gradient(
    90deg,
    var(--bg-color),
    var(--bg-fg-hover-color),
    var(--bg-color),
    var(--bg-fg-hover-color)
  );
  background-repeat: repeat;
  background-size: 300%;
  animation: loadingAnimation 2.5s infinite;
  z-index: 1;
}

@keyframes loadingAnimation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
